@font-face {
  font-family: Lobster;
  src: url('../font/Lobster/Lobster-Regular.ttf');
}

@font-face {
  font-family: "Bree Serif";
  src: url('../font/Bree_Serif/BreeSerif-Regular.ttf');
}

@font-face {
  font-family: "Saira Condensed";
  src: url('../font/Saira_Condensed/SairaCondensed-Regular.ttf');
}